header {
    display: flex;
    justify-content: center;
}

div.entete {
    position: fixed;
    z-index: 1;
}

.entete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__navigation {
        @media screen and (max-width: 800px) {
            position : absolute;
            top:0;
            right:0;
            padding : 20px;
            flex-direction: column; 
            width : 100vw;
            margin-right: 40px;
        }
    &__logo{
        width: 200px;
        height: auto;
    }
        width: 90vw;
        position : static;
        flex-direction: row; 
        background-color: transparent;
        display: flex;
        align-items: center;                                                       
    }
}