.hero {
    background-image: url("­../../images/bgheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    &__icone {
        margin-top: 19px;
    }

    &__titre {
        text-shadow: 2px 3px 5px rgba(24, 145, 172, 0.764);
    }
}

.hero p {
    font-weight: bold;
    font-size: 20px;
}	

.hero__description {
    width: 43%;
}


.hero__inscrire {
    background-color: #6fd2d2; 
    color: rgb(0, 0, 0); 
    font-weight: bold;
    border: none; 
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;  
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #2fafc2; 
    }
}

@media screen and (max-width: 800px) {
    .hero {
        min-height: 50vh;
        padding: 10px;
    }

    .hero__titre {
        font-size: 2rem;
    }

    .hero__description {
        width: 100%;
        font-size: 0.7rem;
    }

    .hero__telephone {
        font-size: 0.7rem;
    }

    .hero__courriel {
        color: black !important;
    }
}