.hero{
    background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &__contenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

