.hero{
    background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &__contenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description{
        margin: 0px auto;
        bottom: 30px;
        position: relative;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #0f6467;
        background-color: #a1dbdd;
        padding: 10px 150px;
        border-radius: 50px;
    }
}

