/* ----------------------------------------- .menu */
.menu{ // ul
    display : flex;
    @media screen and (max-width: 800px) {
    flex-direction: column;
    }
    flex-direction: row;
    list-style-type: none;
    gap : 10px 0;
    &-item{ // li
 
       a { //a
        text-decoration : none;
        padding : 4px;
       } 
    }
}

.menu-item a {
    text-decoration: none;
    padding: 4px;
    color: #ffffff;
    font-weight: 500;
    font-family: math;
}

.menu-item a:hover {
    border-bottom: 3px solid #a1dbdd;
    color: #e7feff;
}
