.recherche{
    display:flex;
    height: 1.6rem;
    width : 14rem;

// le & prend la valeur du sélecteur parent 
    &__input{
        border: none;
        outline: none;
        background-color: rgba(0,0,0, .01);
        flex : 1 0 auto;
        padding : 3px;
        &:hover{
            background-color: rgba(0,0,0, .05); 
        }
        &::placeholder{
            color: rgba(0, 0, 0, 0.724);
            font-style : italic;
        }

    }
    
    &__img{
        flex: 0 0 20px; 
        padding : 3px;



    }
}

.entete form{
    border: 1px solid  rgba(0, 0, 0, 0.78);
}

@media screen and (max-width: 800px) {
    .recherche{
        display: none;
    }
}